<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
        <title>편지</title>
		<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
		<script>
			$( document ).ready( function() {
				$( 'button#sub' ).click( function() {
					var m = $( 'input#textmsg' ).val();
                    var json_data = {"msg": m}
                    $.ajax({
                        type: "POST",
                        url: window.location.pathname + "memo",
                        headers: {
                            'Content-Type': 'application/json; charset=utf-8'
                        },
                        data: json_data,
                    })
                    window.location.reload()
                })
                
            //    function showMemos(){
            //        var memoBox=document.getElementById('memoBox')
            //        $.ajax({
            //            type:"GET",
            //            url: window.location.pathname+"memo",
            //            data:{},
            //            success: function(response){
            //                let memos_list = response["memos"];
            //                for(let i = 0;i<memos_list.length; i++){
            //                    memoBox.innerHTML+= `<p>${memos_list[i]}</p>`
            //                }
            //            }
            //        })
            //    }
            })
		</script>
	</head>

	<body>
        <input type="text" id="textmsg"> <button id="sub">Click</button>

        <h1>편지 리스트</h1>
        {% for m in memos%}
        {{m}}
        <br>
        {% endfor %}
	</body>

</html>